# 1. ملفات بايثون التقنية (بتاخد مساحة عالفاضي)
**/__pycache__
*.pyc
*.pyo
*.pyd



# 2. البيئة الافتراضية (ممنوع تدخل جوه الـ Image لأننا بنسطب المكتبات في الـ Dockerfile)
venv/
.venv/
env/

# 3. ملفات السرية والخصوصية (أهم سطر للأمان)
.env
*.pem
secrets.txt

# 4. ملفات جيت (مش محتاجين تاريخ التعديلات جوه الحاوية)
.git
.gitignore

# 5. ملفات البيانات واللوجز (البيانات بنربطها بالـ Volume مش الـ Image)
mysql_data/
*.log
*.csv

# 6. ملفات الويندوز والـ VS Code
.vscode/
.idea/
.DS_Store
Thumbs.db
